@import 'range-fill.scss';

body {
    background-color: #fff;
}

.trombone-wrapper {
  @include range-fill();
  display: flex;
  justify-content: center;

  .svg {
    height: 100px;
    width: 300px;
    position: relative;

    svg {
      position: absolute;
    }
  }
}