@import 'range-fill.scss';

body {
    background-color: #fff;
}

.trombone-wrapper {
  @include range-fill();
  display: flex;
  justify-content: center;
  position: relative;

  input {
    position: absolute;
    top: 42px;
    left: 120px;
  }

  input:hover {
    cursor: pointer;
  }

  input:active {
    cursor: grabbing;
  }

  .svg-wrapper {
    height: 100px;
    width: 300px;
    position: relative;

    svg {
      position: absolute;
    }
  }
}